.navegacion{
    background-color: rgb(252, 156, 255);
}

.logo{
    width: 65px;
}

.boton{
    border: solid rgb(229, 255, 0);
}

.boton:hover{
    background-color: rgb(229, 255, 0);
    color: rgb(252, 156, 255);
}

.footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    min-width: 100%;
}
.pfooter{
    height: 100px;
    bottom: 0;
    width: 100%;
}
.flex{
    display: flex;
}

.fondo{
    background-image: url(/img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: rgb(0, 0, 0);
}
.cont{
    background-color: rgba(255, 255, 255, 0.429);
    height: 400px;
}